footer {
    background-color: rgb(33, 33, 32);
    text-align: center;
    position: unset;
    bottom: 0px; 
    width: 100%;
}

footer > h3 > span {
    font-size: 25px;    

}

footer > h3 {
    color: rgb(221 220 220);
    border-bottom: 3px solid white;
    padding: 8px 13.5px 13.5px 13.5px;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}

footer > h3 > p {
    font-size: 20px;
}

.align-informations {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px 0;
}

.align-informations > .side-one,
.align-informations > .side-two {
    list-style: none;
}

.side-one > li > a, 
.side-one > a, 
.side-one > li > h5,
.side-two > li > a,
.side-two > a {
    color: rgb(218, 74, 74);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;

}

.side-one > li > a:hover, 
.side-one > a:hover, 
.side-one > li > h5:hover,
.side-two > li > a:hover,
.side-two > a:hover {
    color: rgb(50, 110, 212);
    text-decoration: underline;
}

footer > p {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

@media screen and (max-width:580px) {
    footer > h3 {
        font-size: 22px;
    }

    footer > h3 > p {
        font-size: 18px;
    }

    .side-one > li > a, 
    .side-one > a, 
    .side-one > li > h5,
    .side-two > li > a,
    .side-two > li {
        font-size: 17px;
    }
}

@media screen and (max-width:400px) {
    footer > h3 {
        font-size: 18px;
    }

    footer > h3 > p {
        font-size: 16px;
    }

    .side-one > li > a, 
    .side-one > a, 
    .side-one > li > h5,
    .side-two > li > a,
    .side-two > li {
        font-size: 14px;
    }
}