.image-and-informations {
    width: 300px;
    margin-left: 10px;
    margin-right: 17px;
}

.image-and-informations > h2 {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: pre;
    font-size: 34px;
    text-align: center;
}

.image-and-informations > h2::-webkit-scrollbar {
    width: 16px;      
    height: 7px;
}
  
.image-and-informations > h2::-webkit-scrollbar-track {
    border-radius: 3px;
}
  
.image-and-informations > h2::-webkit-scrollbar-thumb {
    background-color: #686868;    
    border: 2px solid black; 
    border-radius: 3px;
    height: 10px;
}

.image-and-informations > h2, .overview >h2 {
    margin-bottom: 5px;
    color: rgb(226, 149, 61) !important;
    letter-spacing:1.2px;
}

.container-image {
    background-color: rgb(27, 27, 27);
    /* background-color: rgb(21, 21, 20); */

    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 450px;
    /* border: 2.7px solid black; */
    position: relative;
    border-bottom: 0;
}

.container-image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.container-image {
    color: white;
    text-align: center;
    font-size:22px;
}

.release-date-and-adult-content > h3 {
    color: rgb(221 220 220); 
    margin-top: 7px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 3px 7px;
    font-size: 19px;
    /* border: 2.7px solid rgb(156, 156, 156); */
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

@media screen and (max-width:830px) {
    .image-and-informations {
        margin: 0 12px;
    }

    .release-date-and-adult-content > h3 {
        text-align: center;
    }

    .image-and-informations {
        width: 350px;
    }

    .container-image {
        width: 350px;
        height: 500px;
    }
}

@media screen and (max-width:468px) {
    .image-and-informations {
        width: 282px;
    }

    .container-image {
        width: 282px;
        height: 432px;
    }
}

@media screen and (max-width:380px) {
    .image-and-informations {
        width: 230px;
    }

    .container-image {
        width: 230px;
        height: 380px;
    }
}