.container-visual-content {
    width: 78%;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 900px;
    margin: 52px auto 130px auto;
    padding: 11px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    -webkit-box-shadow: 13px 10px 13px 7px rgb(0 0 0 / 54%); 
    box-shadow: 13px 10px 13px 7px rgb(0 0 0 / 54%);
    border: 1.5px solid rgb(0 21 75 / 34%);
}

.sinopse-and-form {
    margin-right: 10px;
}

@media screen and (max-width:890px) {
    .container-visual-content {
        margin-top: 176px;
    }
}

@media screen and (max-width:830px) {
    .container-visual-content {
        flex-wrap: wrap;
        width: min-content;
        justify-content: center;
    }

    .sinopse-and-form {
        margin-right: 0;
        margin: 0 12px;
    }
}
