.container-visual-content {
    /* border: 2.5px solid rgb(185, 185, 185);  */
    width: 78%;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 900px;
    margin: 52px auto 130px auto;
    padding: 11px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    /* -webkit-box-shadow: 10px 9px 16px -5px rgba(0,0,0,0.54);  */
    /* box-shadow: 10px 9px 16px 2px rgba(0,0,0,0.54); */
    box-shadow: 13px 10px 13px 7px rgb(0 0 0 / 54%);
}

.sinopse-and-form {
    margin-right: 10px;
}

@media screen and (max-width:890px) {
    .container-visual-content {
        margin-top: 176px;
    }
}

@media screen and (max-width:830px) {
    .container-visual-content {
        flex-wrap: wrap;
        width: min-content;
        justify-content: center;
    }

    .sinopse-and-form {
        margin-right: 0;
        margin: 0 12px;
    }
}
