.container-send-request > select, 
.container-send-request > button {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(27, 27, 27);
    border: 2.7px solid black;
    color: rgb(221 220 220);
    font-family: Kdam Thmor Pro, Arial, Helvetica, sans-serif;
    font-size:17px;
    cursor: pointer;
}

.container-send-request > button:active,
.container-send-request > select:active {
    background-color:rgb(49, 49, 49);
}

.container-send-request > button {
    margin-bottom: 10px;
}
