.warning-adult-content {
    display: flex;
    align-items: center;
    border: 3px solid rgb(223, 41, 41);
    padding: 15px;
    margin: 15px auto;
    width: 88%;
    color: rgb(240, 89, 89);
    background-color: rgb(37, 37, 37); 
    letter-spacing:1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.warning-adult-content > h2 {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(223, 41, 41);
}