.container-option-watch {
    border-radius:0 0 10px 10px;
    padding: 7px;
    width: 100%;
    background-color: rgb(8, 24, 68);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 10;
    border: 3px solid black;
    border-top: 0;
}

.align-logo-tmdb {
    cursor: pointer;
    margin-left: 20px;
}

.align-logo-tmdb > img {
    width: 40px;
    height: 40px;
}

.container-option-watch > h3, .container-option-watch > a {
    color: rgb(221 220 220); 
    display: flex;
    align-items: center; 
    font-weight: 500;
    font-size: 16.5px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
}

.container-option-watch > a:hover {
    text-decoration: underline;
}

.container-icon-more-and-less {
    transform: translateX(30px);
    width: 40px;
    height: 40px;
    text-align: center;
    text-align: -webkit-center;
    cursor: pointer;
    user-select: none;
}

.icon-more-and-less {
	width:  15px;
	height: 15px;
	background: transparent;
	border-top: 4px solid white;
	border-right: 4px solid white;
    border-left: 0;
    border-bottom: 0;
    border-radius: 3px;
	box-shadow: 0 0 0 rgb(221 220 220);
    cursor: pointer;
    transition: all 1s ease 0.1s;
    user-select: none;
}

.arrow-down {
    margin-top: 10px;
    transform: rotate(134deg);
}

.arrow-up {
    margin-top: 16px !important;
    transform: rotate(314deg) !important;
}

.warning-content-justwatch-text {
    text-align: center;
    color: rgb(221 220 220);
    border: 2px solid rgb(226, 149, 61);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(16, 26, 52);
    font-family: 'Source Sans Pro', sans-serif !important;
}

.warning-content-justwatch-text > h5 {
    font-size: 18px;
}

.warning-content-justwatch-text > h5 > a {
    text-decoration: none;
    font-size: 18.5px;
    color: rgb(223, 186, 68);
}

.warning-content-justwatch-text > h5 > a:hover {
    text-decoration: underline;
}

@media screen and (max-width:830px) {
    .container-icon-more-and-less {
        transform: translateX(60px);
    }
}

@media screen and (max-width:469px) {
    .container-icon-more-and-less {
        transform: translateX(30px);
    }
}

@media screen and (max-width:381px) {
    .container-icon-more-and-less {
        transform: translateX(8px);
    }
}
