header {
    width:  100%;
    background-color: rgb(33, 33, 32);
    padding: 15px;
    color: rgb(50, 110, 212);
    text-align: center;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

.error {
    border: 3px solid red !important;
}

.fetch-failed {
    border: 3px solid rgb(73, 73, 201) !important;
}

.show {
    display: inherit;
}

.hide {
    display: none !important;
}

